service: llamaswap-backend

package:
  individually: true
useDotenv: true

provider:
  name: aws
  runtime: nodejs18.x
  memorySize: 250
  region: eu-central-1
  endpointType: REGIONAL # Set to regional because the api gateway will be behind a cloudfront distribution
  stage: prod
  tracing: # Enable X-Ray tracing (debugging)
    apiGateway: true
    lambda: true
  iamRoleStatements:
    - Effect: Allow # X-Ray permissions
      Action:
        - xray:PutTraceSegments
        - xray:PutTelemetryRecords
      Resource: '*'
    - Effect: Allow # Lambda logs on cloudwatch
      Action:
        - logs:CreateLogGroup
        - logs:CreateLogStream
        - logs:PutLogEvents
      Resource:
        - 'Fn::Join':
            - ':'
            - - 'arn:aws:logs'
              - Ref: 'AWS::Region'
              - Ref: 'AWS::AccountId'
              - 'log-group:/aws/lambda/*:*:*'
  environment:
    stage: ${self:custom.stage}

custom:
  stage: ${opt:stage, self:provider.stage}
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules:
      forceInclude:
        - ethers
    packager: 'npm'
    excludeFiles: src/**/*.test.ts
  prune:
    automatic: true
    number: 5 # Number of versions to keep

functions:
  fallback:
    handler: src/fallback.default
    events:
      - http:
          path: /{params+}
          method: any
  dexAggregatorQuote:
    handler: src/getDexAggregatorQuote.default
    timeout: 30
    memorySize: 512
    events:
      - http:
          path: dexAggregatorQuote
          method: post
    environment:
      EIGEN_API_KEY: ${env:EIGEN_API_KEY}
      HASHFLOW_API_KEY: ${env:HASHFLOW_API_KEY}
      OX_API_KEY: ${env:OX_API_KEY}
      INCH_API_KEY: ${env:INCH_API_KEY}

resources:
  # CORS for api gateway errors
  - ${file(resources/api-gateway-errors.yml)}

plugins:
  - serverless-webpack-fixed
  - serverless-offline
  - serverless-prune-plugin
