name: TypeScript and linter

on:
  push:
    branches:
      - master
  pull_request:
    types: [ready_for_review, synchronize, opened]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js v${{ matrix.node-version }}
        uses: actions/setup-node@v3
        node-version: ${{ matrix.node-version }}

      - name: Install deps
        run: yarn

      - name: Lint Project
        run: yarn lint

      - name: Check TS types
        run: yarn tscheck
